{%  extends  'app/dummy.html' %}

{% block title%}
   <title>School_list</title>
{% endblock %}

{% block body_block %}
    <center>
        <h1>School listView Data</h1>
        <table border="6px" cellspacing="5px" cellpadding="10px">
            <tr>
                <th>Sname</th>
                <th>Sprincipal</th>
                <th>Slocation</th>
            </tr>
        {% for so in nari %}
          <tr>
            <td><a href="{{so.pk}}">{{so.sname}}</a></td>
            <td>{{so.sprincipal}}</td>
            <td>{{so.slocation}} </td>
           </tr>
        {% endfor %}
        
        </table>
    </center>
{% endblock %}


